@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body,
html {
	font-family: "Lato", sans-serif;
	font-size: 1rem;
	color: #404040;
	line-height: 1.6;
}

#root {
	overflow-x: hidden;
	position: relative;
}

img {
	max-height: 100%;
	display: block;
}

a {
	text-decoration: none;
	color: #404040;
}

/*--------------TYPOGRAPY*/

/*home*/

h1,
p {
	margin: 0;
}

.heading {
	font-size: 2rem;
	font-weight: 300;
}

strong {
	color: #fb8c08;
}

strong a {
	color: #07e254;
}

.btn {
	display: inline-block;
	font-size: 0.8rem;
	padding: 0.6em 1.3em;
	background: #0079a7;
	font-weight: 900;
	color: #fff;
	letter-spacing: 1px;
	text-align: center;
	border: 1px solid;
	cursor: pointer;
	transition: 0.3s ease;
}

.btn {
	cursor: pointer;
}

.btn:hover,
.btn:focus {
	border: solid 1px #0079a7;
	background: #e3fdf5;
	color: #0079a7;
}

.main-horizontal {
	display: grid;
	grid-template-columns:
		minmax(1em, 1fr) repeat(6, minmax(30px, 125px))
		minmax(1em, 1fr);
}

.main-vertical {
	grid-template-rows: repeat(6, minmax(50px, 120px));
}

@media (min-width: 900px) {
	.main-horizontal {
		grid-template-columns:
			minmax(5em, 1fr) repeat(12, minmax(50px, 125px))
			minmax(5em, 1fr);
	}
}

.heading {
	grid-column: 2 / -2;
	grid-row: 1;
	align-self: center;
}

.section {
	grid-column: 2 / -2;
	grid-row: 2;
}

@media (min-width: 900px) {
	.section {
		grid-column: 2 / span 5;
	}
}
