.main-heading {
	grid-column: 2 / span 4;
	grid-row: 2 / span 2;
	align-self: center;
}

.sub-heading {
	font-size: 2rem;
	font-weight: 300;
}

.home-heading {
	font-size: 2rem;
	font-weight: bold;
	word-spacing: 0.3em;
}

.btn-info {
	margin-top: 2em;
	grid-column: 2 / span 2;
	grid-row: 4;
	align-self: start;
	justify-self: start;
}
