.main-home {
	grid-template-rows: 150px 220px 150px;
}

@media (min-width: 750px) {
	.main-home {
		grid-template-rows: 200px 280px 280px 200px;
	}
}

@media (min-width: 900px) {
	.main-home {
		grid-template-rows: repeat(11, 120px);

		.home-heading-vs-ongrid {
			grid-column: 2 / span 5;
			grid-row: 3;
			align-self: center;
		}

		.home-para-vs-ongrid {
			grid-column: 2 / span 3;
			grid-row: 4;
			align-self: center;
		}

		.home-para-vs-ongrid-1 {
			grid-column: 2 / span 3;
			grid-row: 5+ / span 2;
			align-self: center;
		}

		.home-vs-img-ongrid {
			grid-column: 6 / span 7;
			grid-row: 2 / span 5;
		}

		.images-carousel {
			grid-column: 6 / -3;
			grid-row: 7 / span 2;

			display: flex;
			justify-content: space-between;
		}
	}
}

.home-heading-vs-ongrid {
	grid-column: 2 / -2;
	grid-row: 1;
	align-self: center;
}

.home-para-vs-ongrid {
	grid-column: 2 / -2;
	grid-row: 3;
	align-self: center;
}

.home-vs-img-ongrid {
	grid-column: 1 / -1;
	grid-row: 2;
}

@media (min-width: 750px) {
	.home-vs-img-ongrid {
		grid-column: 2 / -2;
		grid-row: 2 / span 2;
	}

	.home-para-vs-ongrid {
		grid-row: 4;
	}
}