.home-contact-form,
.home-contact-address,
.home-contact-map {
	display: grid;
	grid-template-columns: 1em repeat(3, 1fr) 1em;
}

.home-contact-form {
	grid-template-rows: 30px 30px 120px 1fr;

	> * {
		grid-column: 2 / -2;
	}

	.consultation-header {
		grid-row: 1 / span 2;
		font-size: 1.6rem;

		span {
			display: block;
			font-size: 1.2rem;
		}
	}
	.consultation-para {
		grid-row: 3;
		align-self: center;
	}
	.consultation-form {
		grid-row: 4;
	}
}

.home-contact-address {
	grid-template-rows: 50px 30px 30px;
	font-weight: bold;

	> * {
		grid-column: 2 / -2;
	}

	.home-contact-address-para1 {
		font-size: 1.6rem;
		font-weight: bold;
		grid-row: 1;
	}

	.home-contact-address-para2 {
		grid-row: 2;
	}

	.home-contact-address-para3 {
		grid-row: 3;
	}

	.home-contact-address-para4 {
		grid-row: 4;
	}
}
.home-contact-map {
	div {
		grid-column: 2 / -2;
	}
}

@media (min-width: 900px) {
	.home-contact-form,
	.home-contact-address,
	.home-contact-map {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	.home-contact-form {
		grid-template-rows: 50px 50px 120px 1fr;
		> * {
			grid-column: 1 / -1;
		}

		.consultation-header {
			font-size: 2rem;

			span {
				font-size: 1.2rem;
			}
		}

		.consultation-para {
			font-size: 1.2rem;
		}
		.consultation-form {
			grid-row: 4;
		}
	}

	.home-contact-address {
		grid-template-rows: 70px 50px 50px 40px 30px;
		font-weight: bold;

		> * {
			grid-column: 1 / -1;
		}

		.home-contact-address-para1 {
			font-size: 2rem;
			font-weight: bold;
			grid-row: 1;
		}

		.home-contact-address-para2 {
			grid-row: 2;
			font-size: 1.5rem;
		}

		.home-contact-address-para3 {
			grid-row: 3;
			font-size: 1.5rem;
		}

		.home-contact-address-para4 {
			grid-row: 4;
			align-self: end;
			font-size: 1.5rem;
		}

		.home-contact-address-para5 {
			font-size: 1.5rem;
		}
	}

	.home-contact-map {
		
		/*background: blue;*/
		clip-path: circle(50% at 50% 50%);

		div {
			padding: .5em ;
			grid-column: 1 / -1;

			iframe{
				width: 100%;
				height: 100%;
			}
		}


	}
}
