.main-home-header {
	margin-top: 0.3em;
	height: 100%;
}

@media (min-width: 900px) {
	.main-home-header {
		margin-top: 2.5em;
	}
}


.home-heading {
	text-align: center;
}

.home-para {
	text-align: center;
	max-width: 250px;
}

.home-btn {
	margin-top: 1em;
	box-shadow: none;
	border: solid 2px #ffd503;
	box-shadow: 8px 10px 20px rgba(171, 178, 189, 0.8);
}

@media (min-width: 750px) {
	.home-heading,
	.home-para {
		text-align: right;
	}

	.home-heading,
	.home-para,
	.home-btn {
		max-width: 350px;
	}

	.home-para {
		padding: 0 0.8em;
	}
}

@media (min-width: 900px) {
	.home-heading,
	.home-para {
		text-align: center;
	}
}


