.main-home-header {
	grid-template-rows: 180px repeat(2, 120px) 100px ;
}

@media (min-width: 750px) {
	.main-home-header {
		grid-template-rows: 180px repeat(4, 120px) ;
	}
}

@media (min-width: 900px) {
	.main-home-header {
		grid-template-rows: 180px repeat(4, 120px) 100px ;
	}
}

/*//////////////////////////////////////////////*/

.home-heading-ongrid,
.home-para-ongrid {
	grid-column: 2 / -2;
	align-self: center;
	justify-self: center;
}

.home-heading-ongrid {
	grid-row: 2;
}

.home-para-ongrid {
	grid-row: 3;
}

.img-home-ongrid {
	grid-column: 1 / -1;
	grid-row: 1;
}

.home-btn-ongrid {
	grid-column: 2 / -2;
	grid-row: 4;
	align-self: start;
	justify-self: center;
}

@media (min-width: 750px) {
	.home-heading-ongrid,
	.home-para-ongrid,
	.home-btn-ongrid {
		grid-column: 6 / -2;
		justify-self: end;
	}

	.home-heading-ongrid {
		grid-row: 1;
		align-self: end;
	}

	.home-para-ongrid {
		grid-row: 2 / span 2;
	}

	.home-btn-ongrid {
		grid-row: 4;
	}

	.img-home-ongrid {
		grid-column: 2 / span 4;
		grid-row: 1 / span 4;
	}

	.home-vertisol-ongrid {
		grid-column: 1 / -1;
		grid-row: 7 / span 3;
	}
}

@media (min-width: 900px) {
	.home-heading-ongrid,
	.home-para-ongrid,
	.home-btn-ongrid {
		grid-column: 9 / -2;
		justify-self: center;
	}

	.home-para-ongrid {
		grid-row: 2 / span 2;
	}

	.img-home-ongrid {
		grid-column: 2 / span 6;
	}

	.home-btn-ongrid {
		grid-row: 4;
	}
}

@media (min-width: 1110px) {
	.img-home-ongrid {
		grid-column: 2 / span 7;
		grid-row: 1 / span 5;
	}
}