.main-home-rollershutter {
	background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 40%);
}

.main-home-rollershutter p, .main-home-rollershutter{
	color: white;
}

.main-home-rollershutter p{
	min-width: 350px;
}